body{
    background:#f8f5f2;
}


.page-title{
    font-weight:bold;
    color:#6f4e37;
}


.stat-card{
    border:none;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
}


.stat-card:hover{
    transform:translateY(-5px);
}


.stat-icon{
    width:60px;
    height:60px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
    color:white;
}


.bg-brown{
    background:#8B5E3C;
}


.bg-orange{
    background:#D4A373;
}


.bg-green{
    background:#28a745;
}


.bg-red{
    background:#dc3545;
}


.table-card{
    border:none;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}


.card-title-custom{
    color:#6f4e37;
    font-weight:bold;
}


.card{
    border:none;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}


.card:hover{
    transform:translateY(-4px);
}



/* =====================
   BUTTON BAKERY USER
===================== */


.btn-bakery-edit {

    background:#D8A47F;
    color:white;
    border-radius:30px;
    padding:8px 18px;
    font-weight:600;
    border:none;
    transition:.3s;

}


.btn-bakery-edit:hover {

    background:#B9825A;
    color:white;
    transform:translateY(-2px);

}



.btn-bakery-delete {

    background:#E98B8B;
    color:white;
    border-radius:30px;
    padding:8px 18px;
    font-weight:600;
    border:none;
    transition:.3s;

}


.btn-bakery-delete:hover {

    background:#D85C5C;
    color:white;
    transform:translateY(-2px);

}



.btn i{
    margin-right:5px;
}